body{
    cursor: url(../pick.png) 5 65, auto;
}
pickaxe2{
    cursor: url(../pick2.png) 5 65, auto;
}
pickaxe3{
    cursor: url(../pick.png) 5 65, auto;
}
pickaxe4{
    cursor: url(../pick.png) 5 65, auto;
}

    